[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux"]
	path = plugins/tmux
        url = https://github.com/stevenokm/tmux.git
[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
        url = https://github.com/tmux-plugins/tmux-sensible
